#wednesday {
    display: flex;
    gap: 32px;
    margin: 24px auto 0;
    padding: 0 16px 24px;
}

#wednesday #description {
    width: 300px;
    line-height: 1.8;
    padding: 0 32px;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
}

#wednesday #gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-height: calc(100vh - 124px);
    width: 625px;
    margin: 0 auto;
}

#wednesday #image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 625px;
    min-width: 0;
    min-height: 0;
}

#wednesday img {
    max-width: 100%;
    max-height: 100%;
}

#wednesday button.ui-button {
    max-width: 160px;
    font-family: monospace;
    font-size: 32px;
}

@media (max-width: 500px) {
    #wednesday #image {
        flex: 1 1 calc((100vw - 32px) * 1.25);
    }
}

@media (max-width: 1053px) {
    #wednesday {
        flex-direction: column-reverse;
    }

    #wednesday #description {
        width: unset;
    }

    #wednesday #gallery {
        width: unset;
        max-width: 625px;
    }
}
