.project-card {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-bg-color);
    border: outset 4px var(--secondary-bg-color);
    border-radius: 5px;
}

.project-card .image {
    width: 380px;
    height: 213.75px;
    padding: 16px 16px 0;
}

.project-card img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.project-card .info {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100%;
    padding: 0 16px 16px;
}

.project-card .info p {
    margin: 0 0 16px;
}

.project-card .buttons {
    align-items: flex-end;
    flex: 1 1 32px;
    gap: 16px;
}

.project-card .ui-button {
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 6px;
}

@media (max-width: 468px) {
    .project-card .image {
        width: calc(100vw - 88px);
        height: calc((100vw - 88px) / (380 / 213.75));
    }

    .project-card .info {
        width: calc(100vw - 88px);
    }

    .project-card .buttons {
        align-items: stretch;
    }

    .project-card .ui-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
