.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100%;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

.lightbox.expand {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    cursor: default;
    z-index: 2;
}

.lightbox .image-wrapper {
    display: none;
    width: 1050px;
    padding: 16px;
}

.lightbox .image-wrapper.expand {
    display: flex;
}

.lightbox .image-wrapper img {
    background-color: var(--primary-bg-color);
    border: outset 6px var(--secondary-bg-color);
    border-radius: 5px;
    width: 1050px;
    box-sizing: border-box;
}

.lightbox .close {
    position: relative;
    right: 40px;
    height: 48px;
    width: 48px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.lightbox .close.light {
    color: var(--primary-text-color);
}

.lightbox .close.dark {
    color: var(--primary-highlight-color);
}

.lightbox .close:hover,
.lightbox .close:focus {
    color: var(--secondary-text-color);
    cursor: pointer;
}
