#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    padding: 24px;
}

@media (max-width: 432px) {
    #projects {
        display: flex;
        flex-direction: column;
    }
}
