.tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 88px;
    height: 88px;
    text-align: center;
    border: solid 2px var(--primary-highlight-color);
    border-radius: 10%;
}

.tech-icon img {
    width: 50px;
    height: 50px;
}

@media (max-width: 480px) {
    .tech-icon {
        width: 72px;
        height: 72px;
    }

    .tech-icon img {
        width: 36px;
        height: 36px;
    }
}
