#home {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

.content {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

#intro {
    flex-direction: column;
    padding-right: 24px;
}

#intro p, #intro h1 {
    margin: 0;
}

#intro .small-text {
    font-size: 1rem;
    padding: 0;
}

#intro p {
    font-size: 1.5rem;
}

#intro h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
}

#skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    max-width: 40%;
    font-size: 0.75rem;
}
