#home {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

.content {
    display: flex;
    justify-content: center;
}

#intro {
    flex-direction: column;
    padding-right: 24px;
}

#intro::before {
    content: "";
    flex: 40;
}

#intro::after {
    content: "";
    flex: 60
}

#intro p {
    margin: 0;
}

p.small-text {
    font-size: 1rem;
    padding: 0;
}

p.medium-text {
    font-size: 1.5rem;
}

p.large-text {
    font-size: 2.5rem;
    padding: 1rem 0;
}

#skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    max-width: 40%;
    font-size: 0.75rem;
}
