#home {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
}

#home .content {
    display: flex;
    justify-content: center;
}

#home #intro {
    flex-direction: column;
    padding-right: 24px;
}

#home p.small-text {
    font-size: 1rem;
    margin: 0;
}

#home p.medium-text {
    font-size: 1.5rem;
    margin: 0;
}

#home p.large-text {
    font-size: 2.5rem;
    margin: 16px 0;
}

#home #connect {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 24px 0 0;
}

#home #connect #arrow {
    font-family: monospace;
    padding: 0 8px 0 4px;
    vertical-align: 1px;
}

#home #connect .icon {
    width: 32px;
    margin-right: 16px;
    transition: 300ms;
}

#home #connect .icon:hover {
    transform: scale(1.2);
}

#home #skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    max-width: 40%;
    font-size: 0.75rem;
}
