#not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin: auto;
}

#not-found p.text-content {
    font-size: 1.25rem;
    margin: 0 0 32px;
}

#not-found p.xl-text {
    font-size: 6rem;
    font-weight: bold;
    margin: 0 0 16px;
}
