#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    font-size: 1rem;
    border-bottom: solid 2px var(--primary-highlight-color);
    box-sizing: border-box;
}

#header #title {
    padding: 16px;
}

#header #nav {
    font-weight: bold;
}

#header a {
    text-decoration: none;
}

#header a.nav-link {
    display: inline-block;
    text-align: center;
    width: 5rem;
    padding: 16px;
}

#header a.nav-link:hover {
    background-color: var(--secondary-highlight-color);
}

#header a.nav-link.active {
    background-color: var(--primary-highlight-color);
}

@media (max-width: 540px) {
    #header #title {
        display: none;
    }

    #header {
        display: inline-block;
    }

    #header #nav {
        display: flex;
        justify-content: space-evenly;
    }
}
