#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    font-size: 1rem;
    border-bottom: solid 2px var(--primary-highlight-color);
    box-sizing: border-box;
}

#title {
    padding: 16px;
}

#nav {
    font-weight: bold;
}

#header a {
    text-decoration: none;
}

a.nav-link {
    display: inline-block;
    text-align: center;
    width: 5rem;
    padding: 16px;
}

a.nav-link:hover {
    background-color: var(--secondary-highlight-color);
}

a.nav-link.active {
    background-color: var(--primary-highlight-color);
}
